/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* PALETTE COLORI */
:root{
    --black: #000;
    --black-opacity: rgba(0, 0, 0, 0.50);
    --gray: rgb(117, 116, 116);
    --deep-blue: rgb(21, 25, 33);
    --white: #fff;
    --lime-green: rgb(192, 251, 91);
    --dark-grey: rgb(40, 40, 40);
}

/* CLASSI FLEX */

.d-flex{
    display: flex;
}

.d-nowrap{
    flex-wrap: nowrap;
}

.d-column{
    display: flex;
    flex-direction: column;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: flex-end;
}

.j-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.d-block{
    display: block;
}

.j-end{
    justify-content: end;
}

/* DIMENSIONI LAYOUT */
.wrapper{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* BLOCCO 1 */

#container-main{
    height: calc(100% - 95px);
    display: flex;
}

#container-footer{
    width: 100%;
    height: 95px;
    background-color: var(--dark-grey);
}
/* BLOCCO 2 */

#side-bar{
    width: 230px;
    height: 100%;
    background-color: var(--black);
}

#main-content-container{
    width: 100%;
    height: 100%;
    background-color: var(--deep-blue);
    overflow-y: auto;
    overflow-x: none;
}

/* BLOCCO 3 */

#header{
    height: 95px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    /* POSIZIONE FISSA */

    position: fixed;
    top: 0;
    z-index: 2000;
}

#main-content{
    width: 100%;
    height: 100%;
    background-color: var(--deep-blue);
    padding-top: 95px;
}
/* FINE DIVISIONI IN BLOCCHI */

/* NAV IN MAIN CONTENT */

.color-li{
    color: var(--gray);
    padding-bottom: 3px;
}

#nav-main-content ul li{
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.bar-lime{
    border: 1px solid var(--lime-green);
}

.container-bar-lime{
    position: relative;
    align-items: center;
    width: 80px;
    display: none;
}

.space-bar-left, .space-bar-right{
    width: 20px;
    height: 3px;
    background-color: var(--deep-blue);
    position: absolute;
    top: -1px; 
}

.space-bar-right{
    width: 10px;
    height: 3px;
    background-color: var(--deep-blue);
    position: absolute;
    bottom: -1;
    right: 0;
}

/* EFFETTO HOVER SU LI */

.nav-hover:hover .container-bar-lime{
    cursor: pointer;
    display: block; 
}

.nav-hover:hover .color-li{
    color: var(--white);
}

/* SEZIONE 1 */

.container-cards{
    width: calc((100% - 1.50rem) / 6);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
}

.container-cards img{
    width: 100%;  
}

.container-cards h3, .subtitle-h3{
    text-align: center;
    padding: 0.2rem;
}

.container-section h3{
    color: var(--white);
}

.subtitle-h3{
    color: var(--gray);
}

.h2-main-section{
    color: var(--white);
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 0.75rem;
}

.play-none{
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 3rem;
    position: absolute;
    top: 90px;
    left: 40%;
    display: none;
}

/* EFFETTO HOVER PLAY SULLE CARDS */

.container-cards:hover .img-card{
    opacity: 0.50;
    cursor: pointer;
}

.container-cards:hover .play-none{
    display: block;
    cursor: pointer;
}

.container-cards-2:hover .img-card{
    opacity: 0.50;
    cursor: pointer;
}

.container-cards-2:hover .play-none{
    display: block;
    cursor: pointer;
}

/* MODIFICHE PER LA SEZIONE 2 */

.container-cards-2{
    width: calc((100% - 1.50rem) / 6);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
}

.dimension{
    width: 300px;
    height: 300px;
    background-color: var(--deep-blue);
    border: 1px solid yellow;
}

.container-cards-2 img{
    width: 100%;  
}

.subtitle-2{
    margin-left: 0.75rem;
    margin-top: -1rem;
    padding-bottom: 2rem;
    text-align: start;
}

/* MODIFICHE PER LA SEZIONE 3 */

.circle-img{
    border-radius: 50%;
    object-fit: cover;
}

.container-cards-2 h3{
    text-align: center;
    padding-top: 0.5rem;
}

.padding-ultima-section{
    padding-bottom: 3rem;
}

/* BOTTONE IN HEADER */
.btn-header{
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--black-opacity);
    padding: 10px;
    border-radius: 17px ;
    font-size: 1rem;
    text-align: center;
    width: 260px;
    position: absolute;
    bottom: 15px;
    right: 220px;
}

.relativo-bottone{
    position: relative;
}

/* HOVER SUL BOTTONE */
.btn-header:hover{
    cursor: pointer;
    font-size: 1.2rem;
    width: 300px;
    padding: 15px;
    border-radius: 20px;
}

/* MODIFICO SIDE BAR */
#top-side, #bottom-side{
    height: 50%;
}

/* SEZIONE 1 LOGO */

.logo-1{
    height: 3rem;

}

.logo-1 img{
    width: 8rem;
    padding-top: 1rem;   
}

.logo-d-576{
    width: 3rem;
    display: none;
}

/* SEZIONE 2 SIDE BAR */

.section-side-2{
    color: var(--gray);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    justify-content: center;
}

.text-side{
    justify-content: center;
}

.nuovo, h4, .text-side, .text-playlist, .container-icon{
    padding: 5px;
}

.section-side-1, .section-side-2{
    padding-left: 1rem;
}

.text-playlist{
    font-size: 1.1rem;
}

.section-side-2 h4{
    padding-left: 0.5rem;
}

.icon-side i{
    font-size: 1.2rem;
}

.fa-square-plus{
    font-size: 1.3rem;
}

/* EFFETTO HOVER SU SIDE TOP */

.container-icon:hover .icon-side{
    cursor: pointer;
    color: var(--white);
}

.container-icon:hover .text-side{
    cursor: pointer;
    color: var(--white);
}

.section-side-2:hover .title-playlist{
    cursor: pointer;
    color: var(--white);
}

.section-side-2:hover .container-section-side-4{
    cursor: pointer;
    color: var(--white);
}

.nuovo-section-side-4:hover .nuovo{
    cursor: pointer;
    color: var(--white);
}

/* MODIFICO SIDE BOTTOM */

#bottom-side{
    color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

.icon-bottom{
    font-size: 1.2rem;
}

.download{
    padding-bottom: 10px;
}

.footer-side-bottom{
    padding-top: 10px;
}

/* CREO LINEA GRIGIA */

.line-grey{
    border: 1px solid grey;
}

.container-linegray{
    position: relative;
    width: 150px;
}

.line-left{
    width: 0;
    height: 10px;
    background-color: var(--black);
    position: absolute;
    top: -5px;
    left: 0;
}

.line-right{
    width: 8px;
    height: 10px;
    background-color: var(--black);
    position: absolute;
    top: -5px;
    right: 0;
}

/* AGGIUNGO EFFETTI HOVER SU SIDE BOTTOM */

.bottom-side-hover:hover .download{
    color: var(--white);
    cursor: pointer;
}

.bottom-side-hover-2:hover .footer-side-bottom{
    color: var(--white);
    cursor: pointer;
}

/* MODIFICO FOOTER PLAY */

#container-footer{
    width: 100%;
    height: 100%;
    color: grey;
    justify-content: center;
    text-align: center;
}

.blocco-1-footer{
    width: calc(100% / 3);
    border: 1px solid yellow;
}

.center-footer{
    border: 1px solid blue;
}

/* MODIFICO BLOCCO LEFT FOOTER */


.container-img-footer img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    padding-top: 25px;
    padding-left: 20px;
}

.title-footer{
    color: var(--white);
}

.container-title-footer{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.container-icon-img-footer{
    padding-top: 40px;
}

.fa-heart{
    padding-right: 10px;
}

/* EFFETTI HOVER SU BLOCCO LEFT FOOTER */

.container-icon-img-footer:hover .left-footer-hover{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--white);
}


/* MODIFICO BLOCCO CENTRALE FOOTER */

.container-icon-center-footer{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MODIFICO BARRA PLAY */

.container-barra-play{
    text-align: center;
    display: flex;
    justify-content: center;
   align-items:center;
}

.icon-center-footer{
    font-size: 1.5rem;
    color: var(--white);
}

.time-play{
    color: var(--white);
}

.icon-center-footer i{
    padding-left: 10px;
    padding-right: 10px;
}

.barra-play{
    height: 5px;
    background-color: grey;
    width: 250px;
    margin: 15px;
    border-radius: 2px;
}

.barra-play-lime{
    width: 90px;
    height: 5px;
    border-radius: 2px;
    background-color: var(--white);
    position: relative;
}

.circle-barra-play-lime{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--lime-green);
    position: absolute;
    top:-5px;
    right:0;
    display: none;
}

/* EFFETTO HOVER SU FOOTER CENTRALE */

.barra-play:hover .circle-barra-play-lime{
    cursor: pointer;
    display: block;
}

.barra-play:hover .barra-play-lime{
    background-color: var(--lime-green);
}

.play-hover:hover .hover-play{
    font-size: 2rem;
    cursor: pointer;
}


